@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');
.gameGenre .gameList {
    text-decoration: dashed;
    text-align: center;
    font-size: 1.5em;
    font-style: oblique;
    font-weight: bold;
}

.status {
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
    font-size: 1.5em;
}

* {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    background-color: rgb(171, 224, 192);
    list-style-type: none;
}

body {
    margin: 0;
    width: 100%;
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.btn {
    background-color: #1c6438;
}

.btn {
    position: relative;
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    width: 100%;
  }