.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .center {
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }