@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');
.gameGenre .gameList {
    text-decoration: dashed;
    text-align: center;
    font-size: 1.5em;
    font-style: oblique;
    font-weight: bold;
}

.gameTable {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.431);
}

.gameUl {
    width: 50%;
    margin: 0 auto;
}

.leftCol {
    width: 33%;
}

.status {
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
    font-size: 1.5em;
}

* {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    background-color: rgb(176, 199, 132);
    list-style-type: none;
}

body {
    width: 100%;
}

.btn {
    background-color: #0c0c0c;
    position: relative;
    border-style: dashed;
    border-color: rgb(185, 185, 24);
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.btn.animate {
    transform: scale(1.05);
    background-color: green;
}

table,
th,
td {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    background-color: rgba(218, 218, 218, 0.294);
    text-align: center;
    line-height: 2.5em;
}